*,
*::before,
*::after {
  margin: 0;
}

/* header & nav */

header {
  background-color: rgb(246, 246, 246);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  color: rgb(57, 57, 57);
}

header h1 {
  font-family: "Poppins", 'Verdana', sans-serif;
  font-weight: 300;
  font-size: 1.65em;
  letter-spacing: 0.05ch;
}

header h2 {
  font-family: "Poppins", 'Verdana', sans-serif;
  font-weight: 200;
  font-size: 3.5em;
  margin-top: -15px;
  letter-spacing: 0.01ch;
}

header p {
  font-family: "Poppins", 'Verdana', sans-serif;
  font-weight: 400;
  font-size: 1.15em;
  padding-top: 20px;
}

.nav-links-container {
  font-family: "Poppins", 'Verdana', sans-serif;
  list-style-type: none;
  display: flex;
  padding-left: 0;
  padding-top: 30px;
  justify-content: center;
}

.nav-links-container a {
  display: block;
  color: rgb(90, 90, 90);
  text-decoration: none;
  padding: 8px 30px;
  font-size: 15px;
  transition: background-color 0.3s;
  letter-spacing: 0.05ch;
}

.nav-links-container li:first-child {
  border-right: 1px solid rgb(168, 168, 168);
}

.nav-links-container a:hover {
  background-color: #575757;
  color: #fff;
}

/* contact */

.contact-container {
  display: flex;
  gap: 35px;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 70px;
  font-family: "Poppins", 'Verdana', sans-serif;
}

.contact-container h2 {
  font-weight: 400;
  text-align: center;
}

.email-box {
  padding: 50px;
  padding-top: 40px;
}

.contact-form {
  padding: 20px;
  width: 700px;
}

.email-box,
.contact-form {
  max-width: 80%;
  margin: 0 auto;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.email-box h2,
.contact-form h2 {
  padding-bottom: 15px;
  font-size: 1.5rem;
}

.contact-form label {
  display: block;
  padding-bottom: 5px;
  text-align: left;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.contact-form textarea {
  min-height: 100px;
  resize: vertical;
}

.contact-form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button[type="submit"]:hover {
  background-color: #0056b3;
}

/* images */

.image-wrapper {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
  z-index: 1;
}

.hover-title {
  position: absolute;
  bottom: 0; /* voit vaihtaa top:50% jos haluat keskelle */
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  text-align: center;
  padding: 10%;
  font-size: 20px;
  font-family: "Poppins", 'Verdana', sans-serif; /* lisätty fontti */
  font-weight: 400; /* voit käyttää 300, 500, tms. */
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}


.image-wrapper:hover .hover-title {
  opacity: 1;
}

.image-wrapper:hover img {
  transform: scale(1.03);
}

.digital-grid {
  grid-auto-rows: 40%
}

.digital-grid .image-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


/*  category filter */

.type-filter-box {
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 1200px; 
}

.type-filter-formcontrol {
  width: 250px;
}


/* footer */

footer {
  font-family: "Poppins", 'Verdana', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 0.8em;
  background-color: rgb(246, 246, 246);
  margin-top: 5px;
  padding-top: 2.5em;
  padding-bottom: 2em;
}

footer img {
  height: 30px;
  margin: 20px;
}

/* overrides default settings of lightbox: */
.yarl__container {
  background-color: rgba(0, 0, 0, 0.96) !important;
  padding: 10px;
}
.yarl__slide_captions_container {
  position: relative !important;
  width: 100% !important;
  background-color: transparent !important;
  padding-top: 10px !important;  
}
.yarl__slide {
  flex-direction: column !important;
}
.yarl__slide_title {
  font-size: 15px !important;
  font-family: 'Poppins', sans-serif;
  font-weight: normal !important;
  margin: 0 auto !important;
  text-align: center;
  white-space: wrap !important;
}

/* responsive settings */

@media (max-width: 500px) {
  header {
    padding-top: 40px;
    padding-bottom: 15px;
  }
  header h1 {
  font-size: 1.3em;
  }
  header h2 {
    font-size: 2.5em;
    margin-top: -10px;

  }
  header p {
    padding-top: 20px;
    font-size: 1em;
  }
  .nav-links-container {
    justify-content: center;
    padding-top: 20px;
  }
  .type-filter-formcontrol {
    width: 95%;
  }
  .email-box p {
    font-size: 0.9em;
  }
  .email-box {
    padding: 40px;
  }
}

